body, html {
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 16px;
  color: #5a6872;
  background: #f5f7fa;
}

.title {
  font-weight: normal;
}

.site-header {
  background-color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100px;
}

.site-header-inner {
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1010px;
  min-width: 1010px;
  -ms-flex-pack: justify;
  justify-content: center;
}

.user-layout-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: center;
}

.split {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.control {
  display: flex;
  flex-direction: column;
  /* width: 280px; */
  padding: 10px;
  margin: 40px;
  background-color: #F0F3F6;
  color: #152935;
  border: 1px solid #dfe6eb;
  padding-top: 40px;
}

.control-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 20px;
}

.control-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin-bottom: 14px;
}

.control-label {
  height: 30px;
  font-size: 13px;
  color: #4178be;
}

.chart {
  /* width: 700px; */
  height: 400px;
  border: 1px solid #dfe6eb;
  border-left: 1px dashed #dfe6eb;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  background: white;
  border-right: none;
}

.input {
  width: 150px;
  height: 20px;
  justify-content: flex-end;
  border: 1px solid #dfe6eb;
}

.service-input {
  width: 170px;
  height: 20px;
  border: 1px solid #dfe6eb;
  border: none;
  font-size: 14px;
  color: #152935;
  background: rgba(61, 112, 178, 0.1);
  padding: .75rem 2.75rem .75rem 1rem;
  height: 2.5rem;
  margin: 30px;
  border-radius: 0;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 10rem;
  height: 0.25rem;
  outline: none;
  border-radius: 0.25rem;
  background: #3d70b2;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.4rem;
  height: 1.4rem;
  background-color: #f5f7fa;
  border: 0.25rem solid #3d70b2;
  border-radius: 1rem;
  cursor: pointer;
}

.value {
  width: 70px;
  text-align: center;
  color: #4178be;
  font-size: 15px;
  font-weight: bold;
}


/* - - - - - */

.average {
  color: #4178be;
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 13px;
}

.entry {
  width: 175px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-right: 1px dashed #dfe6eb;
}

.cost {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  border-bottom: 1px solid #dfe6eb;
  width: 100%;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 1px;
  color: rgb(65, 120, 190);
}

.count {
  margin-right: 5px;
}

.company {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  border-top: 1px solid #dfe6eb;
  width: 100%;
  /*font-weight: bold;*/
  color: rgb(65, 120, 190);
  font-size: 12px;
}

.north {
  height: 200px;
  border-bottom: 1px dashed #dfe6eb;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
}

.south {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.saving {
  width: 50px;
  height: 10%;
  background: #efc100;
}

.amount {
  width: 50px;
  height: 90%;
  background: #5aaafa;
}

.excess {
  width: 50px;
  background: #e71d32;
}
